/*mi paleta de colores 
#B21F10 oscuro
#FF5948
#FF412F base
#00B251
#000000 claros
*/

html{
    font-family: 'Indie Flower', cursive;
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.content{
    /* max-width: 960px;
    max-height: 600px;
    width: 100%;
    height: 100%; */
    height: 85vh;
    width: 85vw;
    background-color:white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    position:relative; 
    padding: 0.5em;
    border-radius: 20px;
    overflow: scroll;

}
.container{
    background: #C33764;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #C33764);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #C33764); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.table{
    width: 100%;
    border-spacing: 0;
}

.table td, 
.table th{
    padding: 1em;
    text-align: left;
}
.table tr:nth-child(even){
    background-color:#624e99 ;
}
td:nth-of-type(1){
    font-size: 1.5em;
    color: red; 
}
th{
    display: none;
}
td{
    display: block;
}
.fa-star{
    color:red;
}
/* .inline{
    display: inline-block;
} */
.center{
    text-align: center;
}
.underline{
    border-bottom: solid 5px #624e99 ;
    padding: 20px;
}
.position{
    background-color: #624e99 ;
    padding: 10px;
    border-radius: 4px;
    margin-left: 5px;
}
/* .actions{
    position: absolute;
    top: 1em;
    right: 1em;
} */
.actions{
    position: sticky;
    top: 1em;
    left: 1em;
    display:flex;
    justify-content: flex-end;
} 
.close{
    height: 40px;
    width: 40px;
    color: white;
    background-color: #624e99;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) , 0 3px 6px rgba(0,0,0,0.23);
    font-weight: 300; 
    display:flex;
    align-items: center;
    justify-content: center;
}
/* a{
    text-decoration: none;  
} */
.title{
    text-transform: uppercase;
    text-align: center;
}
.item-title{
    font-size: 0,8em;
    text-transform: uppercase;
}
i:hover{
    color: black;
}
a:focus{
    background-color: red;
}
.item-image{
    display: center;
}
iframe{
    width: 75vw;
}
@media(min-width:1020px){
    th{
        display: table-cell;
    }
    td{
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
        color: black; 
    }
    .content{
        width: 70vw;
        height: 70vh;
        padding: 1.8em;
    }
    .item-image{
        display: inline-block;
    }
 
    .inline{
        display: inline-block;
    } 
    .actions{
        position: absolute;
        top: 1em;
        right: 1em;
    } 
    .item-title{
        font-size: 1.5em;
        text-transform: uppercase;
    }
}